<template>
  <div v-on="checkUser" class="home" >
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/login">Logout</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <router-view />
    <HelloWorld />
  </div>
</template>
<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  data () {
    return {
    }
  }
}
</script>
