<template>
  <div class="register">
    <div class="set bg-info">
      <b-card header="Register" align="center">
        <b-container >
          <b-row class="bg-white">
            <b-col >
              <b-form @submit="onSubmit" v-if="show">
                <b-form-group id="input-group-3" label="First name" label-for="input-3">
                  <b-form-input
                    id="input-3"
                    v-model="form.firstname"
                    type="text"
                    required
                    placeholder="Enter firstname"
                  ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-4" label="Last name" label-for="input-4">
                  <b-form-input
                    id="input-4"
                    v-model="form.lastname"
                    type="text"
                    required
                    placeholder="Enter lastname"
                  ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-1" label="Username" label-for="input-1">
                  <b-form-input
                    id="input-1"
                    v-model="form.user"
                    type="text"
                    required
                    placeholder="Enter username"
                  ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="Password" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    type="password"
                    v-model="form.password"
                    required
                    placeholder="Enter password"
                  ></b-form-input>
                </b-form-group>
                <div class="mb-3">
                  <b-label class="text-danger">
                    {{error}}
                  </b-label>
                </div>
                <b-button type="submit" variant="primary">Submit</b-button>
              </b-form>
            </b-col>
          </b-row>
        </b-container>
      </b-card>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'Register',
  data () {
    return {
      error: '',
      form: {
        user: '',
        password: '',
        firstname: '',
        lastname: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      axios.post('http://localhost:9000/api/customer/register', {
        user: this.form.user,
        password: this.form.password,
        firstname: this.form.firstname,
        lastname: this.form.lastname
      }).then(res => {
        if (res.data.status) {
          this.error = ''
          this.$router.push('/login')
        } else {
          this.error = res.data.message
        }
      }).catch(err => { console.log(err) })
    }
  }
}
</script>
<style scoped>
.set {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
</style>
